$black : #333333;
$gray : #CBCBCB;
$yellow : #FEE488;
$blue : #00ffff;
$orange : #ff7900;
$purple : #8f7ba9;
$red : #a2273d;
$light-yellow : #FFE386;
$dark-yellow : #FFBF00;
$bulb-height: 150px;
$navbar-height: 70px;

*{
  font-family: 'Roboto', sans-serif;
}
body{
  background: #000;
}

.container-wrapper{
  width: 100vw;
  padding: 0;
  position: relative;
  margin: 0;
  // display: flex;
  flex-wrap: wrap;
}
ul{
 list-style: none;
}
a{
  text-decoration: none;
  color: white;
}

.container-top{
  width: 100vw;
  height: 100vh;
  padding: 0;
  position: relative;
  margin: 0;
}





/**********************************************
*
*  Contact page styles
*
**********************************************/





.page{
  width: 50%;
  min-width: 450px;
  background: white;
  height: 100%;
  position: absolute;
  display: flex;
  transition: 0.5s;
  ul{
    margin: auto;
    width: 50%;
    li{
      transition: 0.2s;
      text-align: center;
      padding: 20px 0;
      border-bottom: 5px solid;
      width: 100%;
      i{
        color:  white;
        margin-left: 20px;
      }
    }
  }
}

/************
*  Page left
************/

.page-left{
  background: #1e1e1e;
  ul.contact-list{
    li{
      border-color: #1e1e1e;
      a{
        text-decoration: none;
        font-size: 2.5em;
        color: white;
      }
    }
    li:hover{
      border-color: $purple;
    }
    li:hover:nth-of-type(2){
      border-color: $blue;
    }
    li:hover:nth-of-type(3){
      border-color: $orange;
    }
  }
}

/************
*  Page right
************/

.page-right{
  background: #1b2228;
  transform: translatex(100%);
  ul{
    display: flex;
    flex-direction: column;
    li{
      border-color: #1b2228;
      a{
        text-decoration: none;
        font-size: 2.5em;
        color: white;
      }
    }
    li:hover{
      border-color: $red;
    }
    li:hover:after{
      content: '#';
      color: $blue;
      position: absolute;
      font-size: 2em;
      padding: 10px 5px;
      text-align: center;
      transition: 0.5s;
      opacity: 0.5;
      line-height: 0.25em;
      letter-spacing: 2px;
    }
  }
}





/**********************************************
*
*  Light bulb styles
*
**********************************************/





.light-bulb-container{
  width: 350px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  transition: 0.5s;
}

.top-container{
  position: relative;
  margin: 0 auto;
  width: $bulb-height / 2;;
  height: 350px;
  
}

.wire{
  height: 350px;
  width: 5px;
  background: #111;
  position: relative;
  margin: 0 auto;
}

.socket{
  width: $bulb-height / 2;
  position: absolute;
  bottom: -65px;
  
  .top{
    z-index: 0;
    height: 10px;
    width: 10px;
    width: $bulb-height / 3;
    height: $bulb-height / 3;
    border-radius: 50%;
    position: relative;
    margin: 0px auto;
    background: white;
    border: 5px solid #111;
    box-sizing: border-box;
    overflow: hidden;
    span.inner-circle{
      border: 3px solid #111;
      background: #989898;
      left: 12px;
      top: -12px;
      width: 12px;
      height: 12px;
      position: absolute;
      border-radius: 50%;
    }
  }
  .top:after{
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      top: 4px;
      border-radius: 50%;
      left: 10px;
      background: $gray;
    }
  .bottom{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 50px;
    bottom: 40px;
    span{
      width: 100%;
      height: 15px;
      position: absolute;
      bottom: 25px;
      background: $gray;
      border-radius: 7px;
      box-sizing: border-box;
      border-box: 10px;
      border: 5px solid $black;
      span.middle{
        top: 2px;
        width: 27px;
        height: 3px;
        border: 0;
        background: $black;
        border-radius: 10px;
      }
      span.middle.middle-top:before{
        content: '';
        background: white;
        left: 30px;
        position: absolute;
        height: 3px;
        width: 10px;
        border-radius: 10px;
      }
      span.middle.middle-top:after{
        content: '';
        background: $black;
        left: 43px;
        position: absolute;
        height: 3px;
        width: 27px;
        border-radius: 10px;
      }
      span.middle.middle-bottom{
        width: 20px;
      }
      span.middle.middle-bottom:before{
        content: '';
        background: $black;
        left: 25px;
        position: absolute;
        height: 3px;
        width: 7px;
        border-radius: 10px;
      }
      span.middle.middle-bottom:after{
        content: '';
        background: $black;
        left: 35px;
        position: absolute;
        height: 3px;
        width: 35px;
        border-radius: 10px;
      }
    }
    span:nth-of-type(2){
      top: 22px;
      position: absolute;
          box-sizing: border-box;

    }
    span.shadow:after{
      content: '';
      width: 100%;
      height: 2px;
      background: #FFFE95;
      opacity: 0.8;
      position: absolute;
      top: 4px;
      border-radius: 0 0 50% 50%;
    }
    span.shadow:before{
      content: '';
      width: 100%;
      height: 3px;
      background: #FFFE95;
      opacity: 0.8;
      position: absolute;
      top: 17px;
      border-radius: 0 0 50% 50%;
      z-index: 3;
    }
  }
}


.light-bulb{
  background: $yellow;
  width: $bulb-height;
  height: $bulb-height;
  border-radius: 50%;
  position: absolute;
  left: 100px;
  bottom: 0;
  border: 7px solid $dark-yellow;
  box-sizing: border-box;
  box-shadow: 0px 0px 100px 38px rgba(250,250,250, 0.2);
  .light-reflection{
    position: absolute;
    background: rgba(250,250,250, 0.6);
    width: 30px;
    height: 50px;
    left: 20px;
    top: 20px;
    transform: rotate(45deg) skewx(15deg);
    border-radius: 50% 10px 10px 50%;
    z-index: 2;
  }
  .light-reflection:after{
    content: '';
    position: absolute;
    background: rgba(250,250,250, 0.4);
    left: 10px;
    width: 20px;
    height: 40px;
    left: 95px;
    z-index: 3;
    ransform: rotate(45deg) skewx(55deg);
    border-radius: 50% 10px 50% 10px;
  }
  .wires{
    width: 60px;
    height: 100px;
    left: 35px;
    position: relative;
    span.line{
      width: 3px;
      height: 70px;
      background: $dark-yellow;
      position: absolute;
      left: 22.5px;
    }
    span.line:nth-of-type(2){
      left: 34.5px;
    }
    
    .bottom{
      width: 90px;
      height: 60px;
      position: relative;
      top: 40px;
      left: -15px;
      span{
        width: 40px;
        height: 40px;
        top: 20px;
        border-radius: 50% 0 50% 50%;
        box-sizing: border-box;
        border: 3px solid $dark-yellow;
        position: absolute;
      }
      span:nth-of-type(2){
        left: 50px;
        border-radius: 0 50% 50% 50%;
      }
    }
  }
}





/**********************************************
*
*  Bottom page
*
**********************************************/





.container-bottom{
  width: 100%;
  height: 100vh; 
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: white;
}

nav.navbar{
  // position: absolute;
  width: 100%;
  height: $navbar-height;
  background: #000;
  display: flex;
  transition: 0.5s;
  ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: auto;
    li{
      transition: 0.2s;
      text-align: center;
      padding: 5px 0;
      border-bottom: 5px solid;
      a{
        font-size: 1.5em;
      }
      i{
        color:  white;
        margin-left: 20px;
      }
    }
    li:hover{
      border-color: $purple;
    }
    li:hover:nth-of-type(2){
      border-color: $blue;
    }
    li:hover:nth-of-type(3){
      border-color: $orange;
    }
  }
}


.about{
  position: relative;
  display: flex;
  max-width: 800px;
  right: 0;
  padding: 20px 30px;
  margin: 0 auto;
  padding-top: $navbar-height;
  .me{
    padding: 5px;
    position: relative;
    margin: 10px 40px;
    height: 100%;
    display: flex;
    img{
      margin: auto;
    }
    img:first-of-type{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 5px solid $black;
      position: relative;
    }
    img:nth-of-type(2){
      position: absolute;
      width: 150px;
      top: 350px;
    }
  }
  h1, p{
    color: $black;
  }
  h1{
    font-size: 2.5em;
  }
  p{
    margin-left: 50px;
    font-size: 1.8em;
  }
  
}





/**********************************************
*
*  Media Queries
*
**********************************************/
/*




@media only screen and (max-width : 880px){
  .page{
    width: 100%;
    height: 50vh;
  }
  .page-left{
    transform: translatex(0%);
    ul{
      margin-right: 20% !important;
      li{
        text-align: right!important;
      }
    }
  }
  .page-right{
    left: 0;
    transform: translatex(0%) translatey(50vh);
    ul{
      display: flex;
      margin-right: 20% !important;
      li{
        text-align: right!important;
      }
    }
  }
  .light-bulb-container{
    margin-left: 10%!important;
  }
}

@media only screen and (max-width : 880px){
  .page{
    width: 100%;
    height: 50vh;
  }
  .page-left{
    transform: translatex(0%);
    ul{
      margin-right: 20% !important;
      li{
        text-align: right!important;
      }
    }
  }
  .page-right{
    left: 0;
    transform: translatex(0%) translatey(50vh);
    ul{
      margin-right: 20% !important;
      li{
        text-align: center !important;
      }
    }
  }
}
*/