.container-wrapper
  .container-top
    .page.page-left
      ul.contact-list
        li
          a(href='#')  github
            i.fa.fa-github 
        li
          a(href='#') twitter
            i.fa.fa-twitter 
        li
          a(href='#') codepen
            i.fa.fa-codepen 
    .page.page-right
      ul.about
        li
          a(href='#') projects
            i.fa.fa-envelope-o
        li
          a(href='#') about me
            i.fa.fa-id-card
        li
          a(href='#') contact
            i.fa.fa-address-book-o
    //
    .light-bulb-container
      .top-container
        .wire
        .socket
          .top
            span.inner-circle
          .bottom
            span.shadow
              span.middle.middle-top
            span
              span.middle.middle-bottom
      .light-bulb
        .light-reflection
        .wires
          span.line 
          span.line
          .bottom
            span
            span
  .container-bottom
    nav.navbar
      ul.navbar
        li
          a(href='#')  github
            i.fa.fa-github 
        li
          a(href='#') twitter
            i.fa.fa-twitter 
        li
          a(href='#') codepen
            i.fa.fa-codepen 
    .about
      .me
        img(src='http://imgh.us/IMG_0824_1.jpg')
        img(src='https://www.codewars.com/users/yoloOnTheBattlefield/badges/micro')
      h1 HI
      p    My name is Cristian and I am self thought {developer} with skills in JS, CSS/Sass and HTML. Most of my projects are hosted on codepen and the source code can be found on  github. I also started training in Javascript, and I'm practicing on codewars. My aim is to become a junior front-end developer this year, for a company based in London.
      